.about-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.visi, .misi {
    background: rgba(255,255,255,0.25);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    color: #002B4D;
}

.visi ul, .misi ul {
    text-align: left;
}