body.dark-mode {
    background: linear-gradient(
    180deg,
    #0F243A 0%,
    #122C48 10%,
    #153557 20%,
    #1A3C60 30%,
    #1E4366 40%,
    #224A6D 50%,
    #254F75 60%,
    #28557C 70%,
    #2B5A82 80%,
    #2D5D84 90%,
    #2E5B85 100%
);
}

.dark-mode .navbar {
    background: linear-gradient(to right, #0F243A, #1A3654);
}

.dark-mode .hero {

}

.dark-mode .social-box {
    color: white;
    border-color: white;
    background: rgba(255,255,255,0.1);
}

.dark-mode .social-box:hover {
    background: rgba(255,255,255,0.2);
}

.dark-mode footer {
    background: #0F243A;
}

/* Theme Button */
.theme-toggle {
    position: fixed;
    top: 80px;
    right: 20px;
    background: #4C8FCB;
    color: white;
    padding: 10px 14px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 999;
    transition: 0.3s;
}
.theme-toggle:hover { transform: scale(1.1); }
.dark-mode .theme-toggle { background: #1A3654; }