.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 64px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
}